html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
    background-color: #F5F5F5;
		
}

.container {
    margin: 0px auto;
    min-height: 100%;
    width: 100%;
    background-color: #F5F5F5;
}

.headBlock {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #99CC33;
    border-bottom: #6666FF 2px solid;
    background: white  url('./images/green.png')left top;
    background-repeat: repeat;
    box-shadow: #6666FF 4px 4px 5px;
}

.contentBlock {
    margin-left: 150px;
    padding-top: 80px;    
    font-family: arial;

}

.leftBlock {
    width: 150px;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 80px;
    background-color: #99CC33;
    border-right: 2px solid #339900;
    border-top: 2px solid #6666FF;
    border-bottom: 2px solid #6666FF;
    background: white  url('./images/green.png')left top;
    background-repeat: repeat;
    box-shadow: #6666FF 4px 4px 5px;
}

.footBlock {
    width: 100%;
    height: 25px;
    position: fixed;
    padding-top: 2px;
    font-weight: bold;
    bottom: 0px;
    background-color: #99CC33;
    font-family: arial;
    color: #6666FF;
    font-size: 12px;
    text-align: center;
    border-top: #6666FF 2px solid;
    background: white  url('./images/green.png')left top;
    background-repeat: repeat;

}