
.titleBlock {
    font-family: arial;
    font-weight: bold;
    margin-left: 150px;
    font-size: 30px;
    color: #F5F5F5;
    text-align: center;
    height: 100%;
    width: 500px;
    
}


.leftMenuContainer{
    height: 50%;
}

.leftMenu {
    width: auto;
    height: auto;
    float: left;
    text-align: center;
}

.leftMenuItem {
    font-family: arial;
    font-weight: bold;
    font-size: 14px;
    color: #F5F5F5;
    list-style: none;
    height: 30px;
	width: auto;	
    padding-top: 5px;
    padding-bottom: 3px;
    float: left;
}

a:visited {
    color: #6666FF; 
}

.textContent {
    height: auto;
    width: auto;
    border: 1px solid #6666FF;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    padding: 10px;
    text-align: justify;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.leftMenuLogoContainer {
    text-align: center;
    background-color: #F5F5F5;
    position: fixed;
    top: 400px;
    height: 240px;
    border-top: 2px solid #6666FF;
    border-bottom: 2px solid #6666FF;
    width: 150px;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration:none;
}

.homeworkHeader {
    font-family: arial;
    width: 100%;
    height: 5%;
    background-color: #99CC33;
    border-bottom: #FFFFCC 1px solid;
    text-align: center;
    font-size: 12px;
    color: #6666FF;
    padding-top: 2px;
}

.homeworkContent {
    font-family: arial;
    width: auto;
    height: auto;
    background-color: #F5F5F5;
    padding: 10px;
}

h3 {
    color: #99CC33;
}

h4 {
    color: #6666FF;
}

.imgBlock {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.homeworkFooter {
    width: 100%;
    height: 3%;
    background-color: #99CC33;
    font-family: arial;
    color: #FFFFCC;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    border-top:   #FFFFCC 1px solid;
}

.noContent {
    text-align: center;
}

